<p>   000<p>
<br>
<% if current_user%>
USER ID <%= current_user.id %> <br>
USER ROLE <%= current_user.role%>
<% end %>

<%= link_to "logout", destroy_user_session_path, method: :delete %> 

<div>
    <%= link_to "Create Team", new_team_path %>
</div>
