<h1> List of all Projects for the team</h1>

<ul>
<h4><% @projects.each do |project| %></h4>
    <li> <%= link_to project.name, team_project_path(project) %></li>
<% end %>
<ul>

<%= link_to "logout", destroy_user_session_path, method: :delete %> 

<div>
    <%= link_to "Create Project", new_team_project_path %>
</div>